@model MembersViewModel

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const alert = document.querySelector("#alert");
        const alertText = alert.querySelector("#alert-text");
        const generatedPassword = "@(ViewBag.GeneratedPassword as string)";
        console.log(generatedPassword);
        if (generatedPassword === "") return;

        if (alert) {
            console.log(generatedPassword);
            alertText.innerText = `Send this generated password to the member: ${generatedPassword} and tell the member to change the password!`;
            alert.classList.remove('d-none');
        }
    });
</script>


<div class="projects-top-bar">
    <h2>Member</h2>
    <button data-targetId="#add-member" data-openModal class="btn btn-primary ">+ Add Member</button>
</div>

@await Html.PartialAsync("PartialViews/_AddMember", Model)

<div class="projects-view">
    @foreach(var member in Model.Members) {
        <div class="profile-card">
            <div class="flex flex-end">
                <i class="bi bi-three-dots"></i>
            </div>
            <img src="@(member.ImageUrl ?? "/images/default-profile-picture.png")" alt="member profile picture">
            <h4>@member.FirstName @member.LastName</h4>
            <div class="member-job-title">
                <p>@member.JobTitle</p>
            </div>
            <p>@member.PhoneNumber</p>
            <p>@member.Email</p>
            <button class="btn btn-secondary">Message</button>
        </div>
    }
</div>
