@model AccountViewModel

<div id="change-password" class="form-modal d-none">
    <div class="flex space-between">
        <h6>Change Password</h6>
        <button data-closeModal class="btn-clean">x</button>
    </div>
    <form asp-action="ChangePassword" method="post" novalidate>
        <div class="form-group">
            <label asp-for="@Model.ChangePasswordForm.OldPassword"></label>
            <input asp-for="@Model.ChangePasswordForm.OldPassword" class="form-control">
            <span asp-validation-for="@Model.ChangePasswordForm.OldPassword"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.ChangePasswordForm.NewPassword"></label>
            <input asp-for="@Model.ChangePasswordForm.NewPassword" class="form-control">
            <span asp-validation-for="@Model.ChangePasswordForm.NewPassword"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.ChangePasswordForm.ConfirmPassword"></label>
            <input asp-for="@Model.ChangePasswordForm.ConfirmPassword" class="form-control">
            <span asp-validation-for="@Model.ChangePasswordForm.ConfirmPassword"></span>
        </div>
        <div class="d-grid">
            <button type="submit" class="btn btn-primary">Change Password</button>
        </div>
    </form>
</div>
