@model AccountViewModel

<div id="edit-account" class="form-modal d-none">
    <div class="flex space-between">
        <h6>Edit Profile</h6>
        <button data-closeModal="true" class="btn-clean">x</button>
    </div>
    <form asp-action="EditAccount" asp-controller="Account" method="post" enctype="multipart/form-data" novalidate>

        <div class="img-preview-container circle">
            <img src="" class="img-preview"/>
            <input asp-for="@Model.EditAccountForm.Image" accept="image/*" class="d-none" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.EditAccountForm.FirstName"></label>
            <input asp-for="@Model.EditAccountForm.FirstName" class="form-control">
            <span asp-validation-for="@Model.EditAccountForm.FirstName"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.EditAccountForm.LastName"></label>
            <input asp-for="@Model.EditAccountForm.LastName" class="form-control">
            <span asp-validation-for="@Model.EditAccountForm.LastName"></span>
        </div>
        <div class="d-grid">
            <button type="submit" class="btn btn-primary">Button</button>
        </div>
    </form>
</div>