@{
    Layout = "_FormLayout";
}
@model AuthViewModel

<form asp-action="ResetPassword" method="post" novalidate>
    <input hidden asp-for="@Model.ResetPasswordForm.Token" value="@Model.ResetPasswordForm.Token" />
    <input hidden asp-for="@Model.ResetPasswordForm.Email" value="@Model.ResetPasswordForm.Email" />
    <div class="form-group">
        <label asp-for="@Model.ResetPasswordForm.Password"></label>
        <input asp-for="@Model.ResetPasswordForm.Password" class="form-control">
        <span asp-validation-for="@Model.ResetPasswordForm.Password"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.ResetPasswordForm.ConfirmPassword"></label>
        <input asp-for="@Model.ResetPasswordForm.ConfirmPassword" class="form-control">
        <span asp-validation-for="@Model.ResetPasswordForm.ConfirmPassword"></span>
    </div>
    <div class="d-grid">
        <button type="submit" class="btn btn-primary">Change Password</button>
    </div>
</form>
