@{
    Layout = "_FormLayout";
}
@model AuthViewModel;

<div class="login-form-container">
    <h1>Login</h1>

    @if (Model.ExternalLogins != null && Model.ExternalLogins.Any())
    {
        <form class="external-login-form" method="post" asp-action="ExternalLogin" asp-controller="Auth">
            <div>
                @foreach (var provider in Model.ExternalLogins)
                {
                    string providerName = provider.DisplayName.Split(" ")[0];

                    <button type="submit" class="btn btn-secondary" name="provider" value="@provider.Name">
                        <i class="bi bi-@(providerName.ToLower())"></i>
                        <span>Login with @providerName</span>
                    </button>
                }
            </div>
        </form>
    }
    <div class="separator">
        <span>or</span>
    </div>
    <form class="login-form" method="post" asp-action="SignIn">

        <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl">
        <div class="form-group">
            <label asp-for="@Model.SignInForm.Email"></label>
            <input asp-for="@Model.SignInForm.Email" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.SignInForm.Password"></label>
            <input asp-for="@Model.SignInForm.Password" class="form-control" />
        </div>
        <div class="form-group">
            <span class="text-error" > @ViewBag.ErrorMessage </span>
        </div>
        <div class="flex space-between form-group">
            <div>
                <input asp-for="SignInForm.RememberMe" type="checkbox" />
                <label asp-for="SignInForm.RememberMe"></label>
            </div>
            <a asp-controller="Auth" asp-action="ForgotPassword">Forgot Password?</a>
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
    <p>Don't have an account? <a>Sign Up</a></p>
</div>
