<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Presentation</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Presentation.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/searchable-multiselect-plugin/styles.css" asp-append-version="true" />
</head>
<body data-theme="light">
    <main>
        <div class="layout">
            <div class="logo-container side-border">
                <img src="images/logo.svg" />
                <h1 class="logo-text">alpha</h1>
            </div>
            <div class="bottom-border">
                <div class="top-bar">
                    <button class="burger-menu">
                        <i class="bi bi-list"></i>
                    </button>
                    <div class="search">
                        <i class="bi bi-search"></i>
                        <input id="search-field" class="search-field" type="text" placeholder="search anything...">
                    </div>
                    <div class="top-bar-buttons">
                        <button class="bell btn-clean ">
                            <div class="new-notification"></div>
                            <i class="bi bi-bell-fill"></i>
                        </button>
                        @await Html.PartialAsync("PartialViews/_Settings")
                        <a class="btn-clean" asp-controller="Account" asp-action="Index">
                            @await Html.PartialAsync("PartialViews/_ProfileImage")
                        </a>
                    </div>
                </div>
                <div id="alert" class="alert bg-accent d-none flex space-between" role="alert">
                    <span id="alert-text"> </span>
                    <button onclick="this.parentNode.classList.add('d-none')" class="btn">X</button>
                </div>
            </div>
            <div class="side-border side-bar">
                <a class="btn nav-buttons @(Context.Request.Path == "/" ?  "nav-btn-active" : "")" asp-controller="Home" asp-action="Index">
                    <i class="bi bi-briefcase-fill"></i>
                    Projects
                </a>
                <a class="btn nav-buttons @(Context.Request.Path == "/Members" ? "nav-btn-active" : "")" asp-controller="Members" asp-action="Index">
                    <i class="bi bi-briefcase-fill"></i>
                    Members
                </a>
                <a class="btn nav-buttons @(Context.Request.Path == "/Account" ? "nav-btn-active" : "")" asp-controller="Account" asp-action="Index">
                    <i class="bi bi-briefcase-fill"></i>
                    Account
                </a>
            </div>
            <div>
                @RenderBody()
            </div>
        </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
    <script src="~/searchable-multiselect-plugin/script.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>

<script>
    const theme = localStorage.getItem('theme');
    document.body.dataset.theme = theme;
    const themebox = document.getElementById("theme-checkbox");
    if(theme === 'dark') themebox.checked = true
</script>
